{% load staticfiles %}
<html>
    <head>
        <title>My blog</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body class="container">
        <div class="page-header">
            <a class="btn btn-info btn-lg pull-right" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>

            <h1><a href="/">The Blog</a></h1>
    </div>
    <div class="container theme-showcase">

            {% block content %}
            {% endblock %}

    </div>
    </body>
</html>